      body {background-color: lightblue;}

      h1 {color:#98FB98;}
      p {color:#33FF52;}

.mainDiv {
      text-allign: center; background-color: white;
}
.banner {allign:center;}
.nav_content{allign:center;}
