      body {background-color: lightblue;}

      h1 {color:#98FB98;}
      p {color:#33FF52;}

.mainDiv {
      text-align: center; background-color: white; width: 800px;
}

#banner {align: center; width:1000;}

#nav-table { width: 1400px;}

#nav-content {width: 350px; text-align: center;}

.aboutDiv {
      text-align: center; background-color: white; width:800px;
}

#steven-Pic2 { float:bottom; width:100px;}
#steven-Pic { float:left; width:100px;}
