      body {background-color: lightblue;}

      h1 {color:#98FB98;}
      p {color:#33FF52;}

.mainDiv {
      text-align: center; background-color: white; width: 800px;
}
.banner {align: center;}
#nav_table {width: 800px;
}
.nav_content{align: center;}

.aboutDiv{text-align: center; background-color: white; width:800px;
}
